{% load static %}

  <script src="https://kit.fontawesome.com/64fbd471c9.js" crossorigin="anonymous"></script>
  <!--   Core   -->
  <script src="{% static 'lib/assets/js/plugins/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'lib/assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
{#  <!--   Optional JS   -->#}
{#  <script src="{% static 'lib/assets/js/plugins/chart.js/dist/Chart.min.js' %}"></script>#}
{#  <script src="{% static 'lib/assets/js/plugins/chart.js/dist/Chart.extension.js' %}"></script>#}
  <!-- Sweetalert2 -->
  <script src="{% static 'lib/sweetalert2-9.10.0/sweetalert2.all.min.js' %}"></script>
  <!--   Argon JS   -->
  <script src="{% static 'lib/assets/js/argon-dashboard.min.js' %}"></script>
  <!--confirm query-->
  <script src="{% static 'lib/jquery-confirm-v3.3.4/jquery-confirm.min.js' %}"></script>
  <!-- Funciones -->
  <script src="{% static 'js/functions.js' %}"></script>

